## 딕셔너리

- key와 value 가 한 쌍을 이루는 자료형 
- {}, k:v 이용

In [1]:
# 딕셔너리 생성
dic_1 = {'name':'세연쌤','age':21,'phone':'010-0000-0000'}

In [3]:
# 자료형 타입 확인 함수
type(dic_1)

dict

In [4]:
# 딕셔너리 값 추가
dic_1['birth']='03/20'

In [5]:
dic_1

{'name': '세연쌤', 'age': 21, 'phone': '010-0000-0000', 'birth': '03/20'}

In [6]:
dic_1['like'] ='money'

In [8]:
dic_1

{'name': '세연쌤',
 'age': 21,
 'phone': '010-0000-0000',
 'birth': '03/20',
 'like': 'money'}

In [10]:
dic_test = {'노래제목' : '아무노래'}

In [12]:
dic_test['가수','날짜']= '지코','2020.01.13'

In [13]:
dic_test

{'노래제목': '아무노래', '가수': '지코', ('가수', '날짜'): ('지코', '2020.01.13')}

In [15]:
#딕셔너리 값 가져오기
dic_test['노래제목']

'아무노래'

In [16]:
# 없는 key 값은 가져올 수 없다 (에러)

In [17]:
# 딕셔너리 값 가져오기 2
# 딕셔너리.get(key)
dic_1.get('age')

21

In [32]:
print(dic_1.get('gold'))

None

In [35]:
dic_test['가수']

'지코'

In [36]:
#딕셔너리 값 수정
dic_1['age']=22

In [38]:
#key 값이 중복될 수 없다.
dic_1

{'name': '세연쌤',
 'age': 22,
 'phone': '010-0000-0000',
 'birth': '03/20',
 'like': 'money'}

In [39]:
dic_1['age']= {'작년':20,'올해':21,'내년':22}

In [40]:
dic_1['age']['올해']

21

In [41]:
# 딕셔너리 값 삭제
# del 딕셔너리['key']
del dic_1['phone']

In [42]:
dic_1

{'name': '세연쌤',
 'age': {'작년': 20, '올해': 21, '내년': 22},
 'birth': '03/20',
 'like': 'money'}

In [43]:
del dic_test['가수','날짜']

In [45]:
dic_test

{'노래제목': '아무노래', '가수': '지코'}

## 딕셔너리 관련 함수

In [46]:
# key값만 뽑는 함수
dic_1.keys()

dict_keys(['name', 'age', 'birth', 'like'])

In [47]:
# value 값만 뽑는 함수
dic_1.values()

dict_values(['세연쌤', {'작년': 20, '올해': 21, '내년': 22}, '03/20', 'money'])

In [48]:
#for문 - key값 가져오기
for k in dic_1.keys():
    print(k)

name
age
birth
like

In [49]:
#for문 - value 값 가져오기
for v in dic_1.values():
    print(v)

세연쌤
{'작년': 20, '올해': 21, '내년': 22}
03/20
money

In [50]:
dic_1.items()

dict_items([('name', '세연쌤'), ('age', {'작년': 20, '올해': 21, '내년': 22}), ('birth', '03/20'), ('like', 'money')])

In [52]:
#for문 - key, value 쌍 가져오기
for item in dic_1.items():
    print(item)

('name', '세연쌤')
('age', {'작년': 20, '올해': 21, '내년': 22})
('birth', '03/20')
('like', 'money')

In [53]:
for k,v in dic_1.items():
    print(k)
    print(v)
    print('반복') #어제 했던 a,b = [1,3] print(a)=1 이부분이랑 비슷

name
세연쌤
반복
age
{'작년': 20, '올해': 21, '내년': 22}
반복
birth
03/20
반복
like
money
반복

#### in, not in

In [54]:
dic_1

{'name': '세연쌤',
 'age': {'작년': 20, '올해': 21, '내년': 22},
 'birth': '03/20',
 'like': 'money'}

In [55]:
'name' in dic_1

True

In [56]:
'세연쌤' in dic_1 #key에는 없기때문에 /value만 검색

False

## 함수 구조
- def 함수명(매개변수):
        실행문장
        return 반환변수

## 함수(function)
- 실행할 명령들을 독립적으로 실행할 수 있게 모아둔 집합

In [57]:
#함수 정의
def number_sum(num1,num2):
    return num1+num2

In [59]:
number_sum( 3,20 ) #함수 호출

23

In [64]:
def number_sub(num1, num2):
result = num1-num2
return result

In [68]:
num1 = int(input("첫번째 정수 입력 >> "))
num2 = int(input("두번째 정수 입력 >> "))
result = number_sub(num1, num2) #함수호출
result

첫번째 정수 입력 >> 5
두번째 정수 입력 >> 3

2

In [77]:
# replace(대체할문자, 바꿀 문자) 문자열 함수
'치킨 피자 탕수육'.replace('탕수육','')

'치킨 피자 '

In [82]:
def s_replace(str1):
    result = str1.replace('ㅋ','')
    return result

In [85]:
s = input("문자열 입력 >> ")
result= s_replace(s)
result

문자열 입력 >> ㅋㅋㅋ를 삭제해주세요

'를 삭제해주세요'

In [86]:
print()
#함수에 대한 설명 : shift tab -> 함수에 대한 설명(docstring)볼 수 있음

In [87]:
def s_replace(str1):
    """'ㅋ'문자열을 제거해주는 함수
    ㅋ을 제거한다.
    독스트링 작성
    """
    result = str1.replace('ㅋ','')
    return result

## 가변 매개변수

In [89]:
# 두 개의 매개변소를 받도록 만듦!
number_sub(1)
# 매개변수 갯수가 안맞으면 에러!

TypeError: number_sub() missing 1 required positional argument: 'num2'

In [90]:
def add(*args):
    print(args)

In [93]:
add(1,2,3,4,5,7,6,8)
# 가변 매개변수 : 튜플 형태로 저장

(1, 2, 3, 4, 5, 7, 6, 8)