### 리스트
- 파이썬의 자류구조 형태 중 하나
- 순서가 있는 수정 가능한 객체의 집합니다.
- 대괄호로 작성이 되어지며 리스트 내부의 값은 콤마로 구분된다.
- 추가, 수정, 삭제 가능하다

In [ ]:
리스트명 = [1,2,3,]

In [1]:
보미쌤반 = ['현범','경주','진영','주희','준기']

In [10]:
a=[]
b= [1,2,3]
c= ['my','name','is','BM']
d=[1,2,'my','name']

In [11]:
print(b)
print(c)
print(d)

[1, 2, 3]
['my', 'name', 'is', 'BM']
[1, 2, 'my', 'name']

In [16]:
#인덱싱
list1 = [2,5,7,9,10]
print(list1[3])
print(list1[1]+list1[4])

9
15

In [25]:
list2=[1,2,3,['a','b','c']]
print(list2[3])
print(list2[3][1])

['a', 'b', 'c']
b

In [28]:
list3 = [0,1,2,3,4]
print(list3[3:4])

[3]

In [29]:
list4 = [1,2,3]
list5 = [4,5,6]
print(list4+list5)

[1, 2, 3, 4, 5, 6]

In [31]:
#리스트에 값 추가 -> append -> 맨 뒤에 데이터가 추가된다! 
list6=[0,1,2,3,4]
list6.append(6)
list6.append(5)
print(list6)

[0, 1, 2, 3, 4, 6, 5]

In [53]:
listfruit = ['사과','포도',['수박','멜론'], '복숭아','딸기','오렌지']
apple = listfruit[0]
orange = listfruit[5]
watermelon= listfruit[2][0]

choice_list =[]
choice_list.append(apple)
choice_list.append(orange)
choice_list.append(water)
print(choice_list)

['사과', '오렌지', '수박']

In [54]:
#리스트에 값 추가하기 -> insert()
list7 = [0,1,2,3,4,5]
list7.insert(3,6)
print(list7)

[0, 1, 2, 6, 3, 4, 5]

In [179]:
music_list = [['Butter','방탄'],['헤픈 우연','헤이즈'],['라일락','아이유']]
loc = int(input("인덱스 위치 입력 >> "))
song = input("노래제목입력 >> ")
singer = input("가수입력 >> ")
music_list.insert(loc,[song,singer])
print(music_list)

인덱스 위치 입력 >> 1
노래제목입력 >> next level
가수입력 >> 에스파
[['Butter', '방탄'], ['next level', '에스파'], ['헤픈 우연', '헤이즈'], ['라일락', '아이유']]

In [177]:
list8=[0,1,2,3,4]
list8[1] = 5
print(list8)

[0, 5, 2, 3, 4]

In [65]:
list8[2:4] = [5,2]
print(list8)

[0, 5, 5, 2]

In [79]:
array=[1,2,3,4,5]
array[4] = 7
array[1] = ['a','b','c']
array[3:5]='d','e','f','g'
array[0:1] = 'h','i','j'
print(array)

['h', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [82]:
#리스트 삭제 -> del 키워드
list9 = [0,1,2,3,4,5]
del list9[4:]
print(list9)

[0, 1, 2, 3]

In [83]:
#리스트 삭제 -> remove()
list10 = ['a','b','c','d','e']
list10.remove('c')
print(list10)

['a', 'b', 'd', 'e']

In [84]:
#리스트 값 정렬-> 오름차순으로 정렬 -> sort()
list11 = [9,77,13,51,100,3]
list11.sort()
print(list11)

[3, 9, 13, 51, 77, 100]

In [85]:
#역순으로 정렬 - > reverse
list11 = [9,77,13,51,100,3]
list11.reverse()
print(list11)

[3, 100, 51, 13, 77, 9]

In [86]:
list11 = [9,77,13,51,100,3]
list11.sort()
list11.reverse()
print(list11)

[100, 77, 51, 13, 9, 3]

In [88]:
list11 = [9,77,13,51,100,3]
list11.sort(reverse = True)
print(list11)

[100, 77, 51, 13, 9, 3]

In [89]:
#리스트 위치 반환 함수 -> index()
list12 = ['a','b','c','d','e','f']
list12.index('d')

3

In [90]:
#마지막 값을 반환 후 리스트에서 제거 -> pop()
list12 = ['a','b','c','d','e','f']
list12.pop()

'f'

In [91]:
print(list12)

['a', 'b', 'c', 'd', 'e']

In [184]:
list12 = ['a','b','c','d','e','f']
len(list12)

6

### 튜플
- 파이썬 자료구조 형태 중 하나
- 순서가 있는 집합
- 소괄호로 작성되어지고 튜플 내부의 값은 콤마로 구분된다 
- 추가, 수정, 삭제 불가능!!

In [96]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

In [98]:
a= ()
b = (1,2,3)
c = ('a','b','c')
d = (1,2,'a','b')
e = (1,2,('a','b'))
print(e)

(1, 2, ('a', 'b'))

In [100]:
tp = (0,1,2,3,('a','b','c'),4,5)
print(tp[4])

('a', 'b', 'c')

In [101]:
print(tp[1:4])

(1, 2, 3)

In [102]:
len(tp)

7

In [103]:
tp[3] = 4 #변경, 함수 불가능

TypeError: 'tuple' object does not support item assignment

In [125]:
lst=['딸기','바나나','수박','체리','포도']

search = input("검색할 문자를 입력하세요 >> ")
if search in lst :
    index = lst.index(search) #lst.index(input_s)번째로도 가능 
    print("{}는 리스트에 {}번째에 들어있습니다".format(search,index+1))
else:
    print("{}는 리스트에 들어있지 않습니다.".format(search))

검색할 문자를 입력하세요 >> 딸기
딸기는 리스트에 1번째에 들어있습니다

In [140]:
s = "Hi, My name is Mihee"
s.count('i')
word = input("검색할 문자를 입력하세요 : ")
if word in s :
    print(f"\'{word}'는 {s.count(word)}번 들어 있습니다.")
else :
    print(f"\'{word}'는 문자열에 들어있지 않습니다.")

검색할 문자를 입력하세요 : i
'i'는 3번 들어 있습니다.

In [ ]:
while 조건식 :
    실행문장
    실행문장

In [141]:
number = 1
while number<=3 :
    print(number)
    number+=1

1
2
3

In [143]:
#while문을 사용해서 "파이썬 최고" 13번 출력하기
num =1 
while number<=13 :
    number+=1
    print("파이썬 최고")

파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고

In [146]:
while True :
    print('무한루프')
    break

무한루프

In [148]:
number = 1
while True :
    print(number)
    number+=1
    if number >3 :
        break

1
2
3

In [185]:
while True : 
    num1 = int(input("첫 번째 정수 입력 >> "))
    num2 = int(input("두 번째 정수 입력 >> "))
    print(f'두 정수의 합 : {num1+num2}')
    if num1 == 0 and num2 == 0 :
        print("프로그램이 종료되었습니다.")
        break

첫 번째 정수 입력 >> 3
두 번째 정수 입력 >> 1
두 정수의 합 : 4
첫 번째 정수 입력 >> 5
두 번째 정수 입력 >> 5
두 정수의 합 : 10
첫 번째 정수 입력 >> 0
두 번째 정수 입력 >> 0
두 정수의 합 : 0
프로그램이 종료되었습니다.

In [187]:
#랜덤 라이브러리
import random

In [213]:
#1~10 사이 숫자 랜덤하게 추출
random.randint(1,10)

4

In [248]:
#설명 : Shift + Tab
rd = random.randint(1,50)
while True :
       
        num = int(input("숫자를 입력하세요 >>"))
        if rd==num :
            print("정답을 맞추셨습니다.")
            break;
        elif rd>num :
                print(f'{num}보다 큰 수 입니다.')
        else :
                print(f'{num}보다 작은 수 입니다.')

숫자를 입력하세요 >>5
5보다 큰 수 입니다.
숫자를 입력하세요 >>5
5보다 큰 수 입니다.
숫자를 입력하세요 >>50
50보다 작은 수 입니다.
숫자를 입력하세요 >>40
40보다 작은 수 입니다.
숫자를 입력하세요 >>30
30보다 작은 수 입니다.
숫자를 입력하세요 >>20
20보다 큰 수 입니다.
숫자를 입력하세요 >>10
10보다 큰 수 입니다.
숫자를 입력하세요 >>27
27보다 작은 수 입니다.
숫자를 입력하세요 >>25
정답을 맞추셨습니다.

In [250]:
say = "치킨 먹고 싶다"
for s in say :
    print(s)

치
킨

먹
고

싶
다

In [251]:
list_food = ['햄버거','치킨','피자']
for food in list_food : 
    print(food)

햄버거
치킨
피자

In [253]:
snack_tuple = ('아우터','차카니','초코픽', '검은콩우유')

for snack in snack_tuple :
    print(snack)

아우터
차카니
초코픽
검은콩우유

In [261]:
score_list = [90,45,70,60,55]
for score in score_list :
    if score >= 60 :
        print(f'{score_list.index(score)+1}번 학생은 합격입니다.')
    else :
        print(f'{score_list.index(score)+1}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

##### range 함수
- range(시작, 종료(포함x),증가)
- range(기본값 0, 종료, 기본값1)

In [262]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [267]:
for i in range(1,100,1) :
    print(i,end= "") #출력하고 이 문자열 써라  #기본값(디폴트값) : '\n'(개행)

123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899

In [268]:
for i in range(6,10): #6-9. 기본값 증가량 1
    print(i,end=' ')

6 7 8 9

In [269]:
for i in range(6): # 0-5. 기본값 증가량 1 
    print(i)

0
1
2
3
4
5

In [272]:
for i in range(97,76,-1):
    print(i,end = ' ')

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [275]:
for i in range(23,40):
    print(i,end = ' ')

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [277]:
a, b = 3,20
print(a)
print(b)

3
20

In [280]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1 :
    print(i)
    print(j)
    print('반복중')

1
2
반복중
3
4
반복중
5
6
반복중